@import "../utils/container.scss";
@import "../utils/mixins";

.section__add__todo {
  padding: 50px 0;
}
.container__todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
  @include font(36px, 400, 36px);

  @include tablet {
    @include font(40px, 400, 40px);
  }
  @include desktop {
    @include font(45px, 400, 45px);
  }
}

.form {
  display: inline-flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
  width: 100%;
  max-width: 450px;
}

.form__box {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100%;
}

.input {
  display: flex;
  padding: 12px 8px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 10px;

  border: none;
  outline: none;
  color: var(--color-header);
  background: var(--background-body);
  @include font(16px, 400, 16px);

  transition: all 0.5s;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover,
  &:focus {
    scale: 1.05;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

    color: var(--color-hover);

    outline: none;
  }
}

.error__add {
  @include font(10px, 400, 10px);

  color: red;
  position: absolute;
  left: 0;
  bottom: -15px;
  opacity: 0.9;
}
.styledBtn {
  cursor: pointer;
  display: flex;
  padding: 12px 22px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 5px;
  background: var(--background-btn);

  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: #fff;
  @include font(15px, 400, 15px);

  border: none;
  outline: none;

  transition: all 0.5s;
  &:hover {
    scale: 1.05;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
}
